<%- include("../partials/header") %>


<div class="container">
    <h1 style = "text-align: center;">Create a new comment for <%= campground.name %> </h1>
    <div class="row">
        
        <!-- first margin param is top/bottom, second left/right-->
        <div style="width:30%; margin: 20px auto;">
            <form action = "/campgrounds/<%=campground.id%>/comments" method="POST">
                <div class="form-group">
                   <textarea style="width: fit-content;" cols="45" name = "comment[text]"></textarea>
                </div> 
                <div class="form-group">
                    <button class='btn btn-dark btn-block' type = "submit">Submit!</button>
                </div> 
            </form>
            <a href = "/campgrounds">Back</a>
        </div>
        
    </div>

   
</div>


<%- include("../partials/footer") %>