<h1>Campgrounds to Explore</h1>

<%  campgrounds.forEach(function(campground){   %>
    <div>
        <h4> Name: <%= campground.name %> </h4> 
        <img src = "<%= campground.image %>">
    </div>
<% });  %>
