<%- include("./partials/header") %>


<h1>Sign up!</h1>

<form action="/register" method="post">
    <input type="text" class="" name="username" placeholder="username">
    <input type="password" class="" name = "password" placeholder="password">
    <button class = "btn btn-dark btn-block">Sign up!</button>
</form>


<%- include("./partials/footer") %>